.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.1);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  font-family: var(--font-geist-sans);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  grid-row-start: 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 1rem 0.5rem;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 600px) {
  .main {
    padding: 0;
    zoom: 0.8;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    zoom: 1.1;
  }
}
